<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update post</title>
</head>
<body>
    <h1> Post for id : @<%=post.id%></h1>
    <form method="post" action="/posts/<%=post.id%>">
        <input placeholder="Enter your new content here" name="new_content"/>
    </form>
</body>
</html>